<%content_for :head do%>
  <%= javascript_include_tag 'jquery.tokeninput' %>
  <%= stylesheet_link_tag 'token-input'  %>
  <script src="http://maps.google.com/maps?file=api&v=2&key=abcdefg&sensor=false"
          type="text/javascript">
  </script>
  <script src="http://gmaps-utility-library.googlecode.com/svn/trunk/markermanager/release/src/markermanager.js"
          type="text/javascript">
  </script>
  <script src="/javascripts/MapCommon.js"
          type="text/javascript">
  </script>
  <script type="text/javascript">
    <!--
    function placemarker(overlay, latlng, overlaylatlng) {
      marker.setLatLng(latlng);
    }
    function initialize() {
      basic_init();

      pos = new GLatLng(<%= @lat %>, <%= @lng %>);
      marker = new GMarker(pos, { draggable: true });
      map.addOverlay(marker);
      map.setCenter(pos, 17);
    }
    function submitForm() {
      document.getElementById('user_location').value = marker.getLatLng().lat() + ',' + marker.getLatLng().lng();
      document.form.submit();
    }
    //-->
  </script>
<%end%>

<%content_for :body_attributes do%>
  onLoad="initialize();"
  onUnload="GUnload();"
<%end%>



<%= render :partial => 'user_nav' %>
<div class="user_profile_container">
  <div class="user_profile">
    <div id="edit_user_info">
    <%form_for @user, :url => {:action=>'update', :id=>@user.id}, :html => { :name => 'form', :multipart => true } do |f|%>
      <%=f.error_messages%>

      <!-- User's email -->
      Email:
      <%=f.text_field :email%>
      <br /><br />

      <!-- User's name -->
      Name:
      <%=f.text_field :name %>
      <br /><br />

      <!-- User's default location -->
      <b>Location:</b>
      <div id="map_canvas" style="width: 500px; height: 300px"></div>
      <br /><br />

      <!-- Change Picture -->
      Picture: <input type="file" name="datafile" size="20" /><br /><br />

      <!-- Change password -->
      Password:
      <%=link_to 'Change Password', {:action => 'change_password'}, :class=> 'link', :id => @user.id%>
      <br /><br />


      <%=f.hidden_field :location%>
      
      <input type="button" value="Save Changes" onclick="submitForm();">

    <%end%>
    </div>
  </div>
</div>
