<% content_for :head do %>
  <script type="text/javascript">
    checked=false;
    function checkedAll () {
      var x= document.getElementById('event_tags');
      if (checked == false)
      {
        checked = true
      }
      else
      {
        checked = false
      }
      for (var i =0; i < x.elements.length; i++)
      {
        x.elements[i].checked = checked;
      }
    }

    function submitForm() {
      document.form.submit();
    }
  </script>
<%end%>

<%= render :partial => 'user_nav' %>

<div class="user_profile_container">
  <div class="user_profile">
    <div id="wrapper">
      <div id="events_nav">
        <%if current_user%>
          <%=link_to 'My Events',{:controller => 'users', :action => 'events'}, :class => 'events_nav_link'%>
          <%=link_to 'Events in your Area',{:controller => 'users', :action => 'closestevents'}, :class => 'events_nav_link'%>
          <%=link_to 'Create Event', {:controller => 'events', :action => 'new'}, :class => 'events_nav_link'%>
          <%=link_to 'Event Preferences',{:controller => 'users', :action => 'preferences'}, :class => 'events_nav_link_on'%>
        <%end%>
      </div>
      <!-- User's event type preferences -->

      <div id="event_preferences" style="margin-left: 50px;">
        <%form_for @user, action=>"update_preferences", :html => { :id => 'event_tags', :multipart => true } do |f|%>
          <input type='checkbox' name='checkall' onclick='checkedAll(event_tags);' />CHECK ALL<br /><br />
          <div style="margin-left: 30px;">
            <% Eventtype.all.each do |tag| %>
              <%@checked = false%>
              <%if UserEventtype.find_by_eventtype_id(tag.id, :conditions => {:user_id => current_user.id}) %>

                <%@checked=true%>
              <%end%>
              <%= check_box_tag "tag_ids[]", tag.id , @checked%><%= tag.description %><br />
            <% end %>
          </div><br />

          <input type='checkbox' name='checkall' onclick='checkedAll();' />CHECK ALL<br /><br />
          <%=f.submit%>
        <%end%>

      </div><br /><br />

    </div>
  </div>
</div>