<% content_for :head do %>
<script type="text/javascript">
checked=false;
  function checkedAll () {
	var x= document.getElementById('event_tags');
	 if (checked == false)
          {
           checked = true
          }
        else
          {
          checked = false
          }
	for (var i =0; i < x.elements.length; i++)
	{
	 x.elements[i].checked = checked;
	}
      }

   function submitForm() {
      document.form.submit();
    }
</script>
<%end%>

<div id="user_nav">
        <%if current_user%>
          <%=link_to 'Profile', {:controller => 'users', :action => 'profile'}, :class => 'user_nav_link'%>
          <%=link_to 'Create Event', {:controller => 'events', :action => 'new'}, :class => 'user_nav_link'%>
          <%=link_to 'Event Preferences', {:controller => 'users', :action => 'preferences'}, :class => 'user_nav_link_on'%>
          <%=link_to 'Friends', {:controller => 'friendships', :action => 'display'}, :class => 'user_nav_link'%>
          <%=link_to 'Edit', {:controller => 'users', :action => 'edit_info'}, :class => 'user_nav_link'%>
      <%end%>
</div>
<div class="user_profile_container">
  <div class="user_profile">
    <div id="wrapper">
<!-- User's event type preferences -->
<h3>- Event Preferences -</h3>
<br />
      
      <div id="event_preferences" style="margin-left: 50px;">
        <%form_for @user, :action => 'update', :html => { :id => 'event_tags', :name => 'form', :multipart => true } do |f|%>
        <input type='checkbox' name='checkall' onclick='checkedAll(event_tags);' />CHECK ALL<br /><br />
        <div style="margin-left: 30px;">
           <% Eventtype.all.each do |tag| %>
            <%@checked = false%>
              <%if UserEventtype.find_by_eventtype_id(tag.id, :conditions => {:user_id => current_user.id}) %>
              <%puts ("--------GOT HERE-----" + tag.id.to_s)%>
              <%@checked=true%>
             <%end%>
             <%= check_box_tag "tag_ids[]", tag.id , @checked%><%= tag.description %><br />
           <% end %>
         </div><br />
           
           <input type='checkbox' name='checkall' onclick='checkedAll();' />CHECK ALL<br /><br />
           <input type="submit" value="Save Preferences" onclick="submitForm();" />
        <%end%>
           
      </div><br /><br />

    </div>
  </div>
</div>