<h2><%= current_user.login %>'s Preferences</h2>




<!-- User's event type preferences -->


<%form_for @user, :url => {:action=>'update', :id=>@user.id} do |f|%>
  <%=f.error_messages%>

  <!-- User's default location -->
  <%= f.label :location%>
  <%=f.text_field :location %>
  <br />

  <!-- User's email -->
  <%= f.label :email%>
  <%=f.text_field :email%>
  <br />
  
  <!-- Change password -->
  <%= f.label :password%>
  <%=link_to 'Change Password', :action => 'change_password', :id => @user.id%>
  <br />
  <%=f.submit%>

<%end%>