<%content_for :head do%>
<script src="http://maps.google.com/maps?file=api&v=2&key=abcdefg&sensor=false"
        type="text/javascript">
</script>
<script src="http://gmaps-utility-library.googlecode.com/svn/trunk/markermanager/release/src/markermanager.js"
        type="text/javascript">
</script>
<script src="/javascripts/MapCommon.js"
        type="text/javascript">
</script>
<script type="text/javascript">

function initialize() {
  basic_init();
  
  pos = new GLatLng(<%= @lat %>, <%= @lng %>);
  map.addOverlay(new GMarker(pos));
  map.setCenter(pos, 17);
}

</script>
<%end%>

<%content_for :body_attributes do%>
onLoad="initialize();"
onUnload="GUnload();"
<%end%>

<h3><b><%=@event.name%></b></h3>

<br />
<b>Description:</b>
<%=@event.description%>
<br />
<b>Location:</b>
<div id="map_canvas" style="width: 500px; height: 300px"></div>
<br />
<b>Starts:</b>
<%=@event.start_at%>
<br />
<b>Ends:</b>
<%=@event.end_at%>
<br />
<b>Cost:</b>
<%=@event.cost%>
<br />
<b>Dress Code:</b>
<%=@event.formality%>
<br />
This is a <b><%= @event.privacy%></b> event.

<br />


<h4><b>Event types</b></h4>
<ol>
  <%for type in @event.eventtypes%>
    <li>
      <%=type.description%>
    </li>
  <%end%>
</ol>


