<% content_for :head do %>
  <%= javascript_include_tag 'jquery.tokeninput' %>
  <%= stylesheet_link_tag 'token-input'  %>

<% end %>

<h2>Create a New Event!</h2>

<%form_for @event, :action => 'create', :html => { :multipart => true } do |f|%>
  <%=f.error_messages%>
  <table>
  <tr><td><%=f.label :name, 'Event Name'%></td>
  <td><%=f.text_field :name%></td></tr>

  <tr><td><%=f.label :description, 'Event Description'%></td>
  <td><%=f.text_area :description, :style => 'height:60px'%></td></tr>

  <tr><td><%=f.label :event_date, 'Event Date'%></td>
  <td><%=f.text_field :event_date%></td></tr>

  <tr><td><%=f.label :event_time, 'Event Time'%></td>
  <td><%=f.text_field :event_time%></td></tr>

  <tr><td><%=f.label :location, 'Event Location'%></td>
  <td><%=f.text_field :location%></td></tr>

  <tr><td><%=f.label :formality, 'Dress Code'%></td>
  <td><%=f.text_field :formality%></td></tr>

  <tr><td><%=f.label :cost, 'Price'%></td><td>
  <%=f.text_field :cost, :size => 10%> &nbsp; Dollars</td></tr>

  <tr><td><%=f.label :public, 'Event Privacy'%></td>
  <td><%=f.text_field :public%></td></tr>
  
  </table>
  
  <%=f.submit "Submit For Approval"%>
<%end%>

