 <% content_for :head do %>
  <%= javascript_include_tag 'jquery.tokeninput' %>
  <%= stylesheet_link_tag 'token-input'  %>
<script src="http://maps.google.com/maps?file=api&v=2&key=abcdefg&sensor=false"
        type="text/javascript">
</script>
<script src="http://gmaps-utility-library.googlecode.com/svn/trunk/markermanager/release/src/markermanager.js"
        type="text/javascript">
</script>
<script src="/javascripts/MapCommon.js"
        type="text/javascript">
</script>
<script type="text/javascript">
<!--
var marker = null;

function placemarker(overlay, latlng, overlaylatlng) {
  if (!marker) {
    marker = new GMarker(latlng, { draggable: true });
    map.addOverlay(marker);
  } else {
    marker.setLatLng(latlng);
  }
}

function initialize() {
  basic_init();

  GEvent.addListener(map, "click", placemarker);

  //Put back marker that was already in the model
  if (location.value != "") {
    latlng = document.getElementById('event_location').value.split(',');
    marker = new GMarker(new GLatLng(latlng[0], latlng[1]));
    map.addOverlay(marker);
  }

  enableButtons();
}

function submitForm() {
  var i;
  
  if (marker) {
    document.getElementById('event_location').value = marker.getLatLng().lat() + ',' + marker.getLatLng().lng();

    if (document.form.invited.options[0] != null){
      inv = document.form.invited.options[0].text;
      for (i=1;i<document.form.invited.options.length;i++) {
        inv += "," + document.form.invited.options[i].text;
      }
      document.form.user_events.value = inv;
    }

    document.form.submit();
  } else {
    alert("Please place the location on the map.");
  }
}

function addInvitee() {
  //Based on http://www.plus2net.com/javascript_tutorial/list-adding.php
  var optn = document.createElement("OPTION");
  if (document.form.friend[0].checked) {
    optn.text = document.form.friends.options[document.form.friends.selectedIndex].text;
  } else {
    optn.text = document.form.other_user.value;
  }
  //option values are never used
  document.form.invited.add(optn);
  enableButtons();
}

function removeInvitee() {
  idx = document.form.invited.selectedIndex;
  if (idx >= 0) {
    document.form.invited.remove(idx);
    if (idx < document.form.invited.length) document.form.invited.selectedIndex = idx; else document.form.invited.selectedIndex = document.form.invited.length - 1;
    enableButtons();
  }
}

function enableButtons() {
  if (document.form.friend[0].checked) {
    document.form.add.disabled = document.form.friends.options.length == 0;
  } else {
    document.form.add.disabled = document.form.other_user.value == "";
  }
  document.form.remove.disabled = document.form.invited.options.length == 0;
}

//-->
</script>
<% end %>

<% content_for :body_attributes do %>
onLoad="initialize();"
onUnload="GUnload();"
<% end %>

<%= render :partial => '/users/user_nav' %>

<div class="user_profile_container">
  <div class="user_profile">
    <div id="wrapper">
<%form_for @event, :action => 'create', :html => { :multipart => true, :name => "form" } do |f|%>
  <%=f.error_messages%>
  <table id="event_table">
  <tr>
    <td>Event Name:</td>
    <td><%=f.text_field :name%></td>
  </tr>

  <tr><td>Event Description:</td>
  <td><%=f.text_area :description, :style => 'height:60px'%></td></tr>


  <tr><td><%=f.label :start_at, 'Event Starts At:'%></td>
  <td><%= f.text_field :start_at %></td></tr>

  <tr><td><%=f.label :end_at, 'Event Ends At:  '%></td>
  <td><%=f.text_field :end_at%></td></tr>

 
  <tr>
    <td>Location:</td>
    <td><div id="map_canvas" style="width: 500px; height: 300px; padding: 0; margin: 0; margin-bottom: 15px;"></div></td>
  </tr>

  <tr><td>Dress Code:</td>
  <td><%=f.select :formality, ['Formal', 'Dressy', 'Dressy-Casual', 'Casual']%></td></tr>

  <tr><td>Price:</td><td>
  <%=f.text_field :cost, :size => 10%> &nbsp; Dollars</td></tr>

  <tr><td>Event Privacy:</td>
  <td><%=f.select :public, ['Private', 'Public']%></td></tr>
  
  <tr><td><h3>Invite a Friend</h3></td></tr>

  <tr><td><%=radio_button_tag :friend, '1', true, :onclick => "enableButtons();"%> Friend:</td>
  <td><%=select_tag :friends, options_for_select(@friends)%></td></tr>

  <tr><td><%=radio_button_tag :friend, '0', false, :onclick => "enableButtons();"%> Other user:</td>
  <td><%=text_field_tag :other_user, "", :onchange => "enableButtons();", :onclick => "if (document.form.friend[1].checked) document.form.add.disabled = false;"%></td></tr>

  <tr><td><input type="button" name="add" value="Add" onclick="addInvitee();" /></td></tr>
  </table>

  <hr />
  Invited:<br />
  <%= select_tag "invited", (@invited.map {|nm| "<option>" + nm + "</option>" }).join(""), :multiple => true, :style => 'width: 300px' %><br />

  <input type="button" name="remove" value="Remove" onclick="removeInvitee();" />
  <hr />

  <div id='eventtypes'></div>
  <%=link_to_remote 'Add an Event Tag', :url => {:action => 'add_eventtype'}%>
  <br /><br />
  
  <%=f.hidden_field :location%>

  <%=hidden_field_tag :user_events%>

  <input type="button" value="Create Event" onclick="submitForm();" />
<%end%>
    </div>
    </div>
  </div>

