<%= render :partial => 'user_nav' %>
<div class="user_profile_container">
  <div class="user_profile">
    <div id="wrapper">
      <div id="events_nav">
        <%if current_user%>
          <%=link_to 'My Events',{:controller => 'users', :action => 'events'}, :class => 'events_nav_link_on'%>
          <%=link_to 'Events in your Area',{:controller => 'users', :action => 'closestevents'}, :class => 'events_nav_link'%>
          <%=link_to 'Create Event', {:controller => 'events', :action => 'new'}, :class => 'events_nav_link'%>
          <%=link_to 'Event Preferences',{:controller => 'users', :action => 'preferences'}, :class => 'events_nav_link'%>
      <%end%>
  <div>
  <%if @admin_status%>
    <%=link_to 'Edit', edit_event_path(@event.id), :class => 'user_nav_link'%>
    <%=link_to 'Invite a User', {:action => 'invite_user', :id => @event.id}, :class => 'user_nav_link'%>
    <%=link_to 'Add an Admin', {:action => 'add_admin', :id => @event.id}, :class => 'user_nav_link'%>
    <%if current_user.id == @event.owner.id%>
      <%= link_to 'Delete', {:action => 'deletion', :id => @event.id}, :confirm => "Are you sure you want to delete this event?", :class => 'user_nav_link'%>
    <%end%>
  <%end%>

  <%=link_to("Photos", {:controller => 'photos', :action => 'eventshow', :id => @event.id}, :class => 'user_nav_link')%>
  <%=link_to("Back", request.env["HTTP_REFERER"], :class => 'user_nav_link')%>
  </div>
<div id="show_event">

<%= render :partial => "event", :object => @event %>
<br />


<%if current_user %>
  <%if @already_rated == false%>
    <%= form_tag :action => "rate", :id => @event.id %>
    <%= submit_tag "This event is good stuff!" %>
    <%if @number_of_ratings == 1%>
      <b><%= @number_of_ratings %> person</b> thinks this event is GOOD STUFF!
    <%elsif (@number_of_ratings > 1)%>
      <b><%= @number_of_ratings %> people</b> think this event is GOOD STUFF!
    <%end%>

  <%else%>
      <%if (@number_of_ratings == 1)%>
        You think this event is good stuff!
      <%elsif (@number_of_ratings == 2)%>
        You and <b><%= @number_of_ratings - 1 %> other person</b> think this event is GOOD STUFF!
      <%elsif (@number_of_ratings > 2)%>
        You and <b><%= @number_of_ratings - 1 %> other people</b> think this event is GOOD STUFF!
      <%end%>
  <%end%>
<%end%>
        </div>
</div>
    </div>
    </div>
  </div>

