<head>
  <%= stylesheet_link_tag 'blueprint/screen.css'%>
  <%= stylesheet_link_tag 'blueprint/print.css'%>
  <%= stylesheet_link_tag 'Kwicks/main.css'%>
  <%= stylesheet_link_tag 'vmenu/style.css'%>
  <%= stylesheet_link_tag 'full_calendar/fullcalendar.css'%>
  <%= stylesheet_link_tag 'style'%>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'custom.js' %>
  <%= javascript_include_tag 'jquery.js'%>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>
  <%= javascript_include_tag 'fullcalendar', 'gcal'%>
  <%= javascript_include_tag 'jquery-ui-timepicker-addon.js'%>
  <%= include_colorbox_assets %>

  
    
  
  <script type="text/javascript">
  $(document).ready(function() {

  setTimeout(function() {
          $("#flash_error").hide('blind', {}, 500)
      }, 5000);

      setTimeout(function() {
              $("#flash_notice").hide('blind', {}, 500)
          }, 5000);
    });
  </script>

  <%= yield :head %>
</head>

<body <%= yield :body_attributes%>>
  <div id="header">
    <div id='logo'>
    </div>
    <%= render :partial=> 'users/user_bar'%>

    <div class='header_link_container'>
    <div id="vnav">
      <ul>
      <li id="item1"><h1><%=link_to 'Home',{:controller => 'home', :action => 'about'}%></h1><p>Home page</p></li>
      <li id="item2"><h1><%=link_to 'About',{:controller => 'home', :action => 'about'}%></h1><p>Learn about I'm In!</p></li>
      <li id="item3"><h1><%=link_to 'Search', {:controller => 'search', :action => 'show'}%></h1><p>Search for Events!</p></li>
      </ul>
      </div>
  </div>
  </div>

  <div class="main_container">
    <div class="main">    
      <%=yield%>    
    </div>
  </div>
</body>
